


html {
	font-size: 16px;
}

body {
    background-color: #000000; /* black background */
}

h1 {
    font-family: 'Roboto', 'Oswald', Verdana, Arial, sans-serif;
    color: #ffffff; /* white font */
    padding: 10px;
    
}

h2 {
    top: 1186px;
    left: 4px;
    width: 1921px;
    height: 330px;
    /* UI Properties */
    text-align: left;
    font: Bold 20px/24px Roboto;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    padding: 10px;
}

p {
    /* UI Properties */
    text-align: left;
    font: Bold 20px/24px Roboto;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    padding: 10px;
}


header {
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 98px;
    /* UI Properties */
    background: #3D5467 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

footer {
    /* Layout Properties */
    top: 2920px;
    left: 5px;
    width: 100%;
    height: 98px;
    /* UI Properties */
    background: #3D5467 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.main_Pic {
    /* Layout Properties */
    top: 117px;
    left: 48px;
    width: 100%;
    height: 935px;
    /* UI Properties */
    background: transparent url('images/billieMain.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

}

.about_Billie_header {
    /* Layout Properties */
    top: 1088px;
    left: 0px;
    width: 100%;
    height: 98px;
    /* UI Properties */
    background: #878E88 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.about_Billie_content {
    /* Layout Properties */
    top: 1088px;
    left: 4px;
    width: 100%;
    /* UI Properties */
    background: #ACBDBA 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.hobbies {
    /* Layout Properties */
    top: 1088px;
    left: 0px;
    width: 100%;
    height: 98px;
    /* UI Properties */
    background: #878E88 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.hobbies_Content {
    /* Layout Properties */
    top: 1550px;
    left: 4px;
    width: 100%;
    /* UI Properties */
    background: #ACBDBA 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

ul {
    /* Layout Properties */
    top: 1610px;
    left: 41px;
    width: 100%;
    height: 174px;
    /* UI Properties */
    text-align: left;
    font: Bold 40px/47px Roboto;
    letter-spacing: 0;
    color: #283044;
    opacity: 1;
}

a:link {
    font-weight: bold;
    font-size: 1em;
    padding-top: .5em;
    color: #ffffff;
}

a:hover {
    color: darkgreen;
}

a:visited {
    color: firebrick;
}

.my_Animals {
    /* Layout Properties */
    top: 1088px;
    left: 0px;
    width: 100%;
    height: 98px;
    /* UI Properties */
    background: #878E88 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.my_Animals_content {
    /* Layout Properties */
    top: 2012px;
    left: 4px;
    width: 100%;
    /* UI Properties */
    background: #ACBDBA 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}


.picture_Gallery {
    /* Layout Properties */
    top: 1088px;
    left: 0px;
    width: 100%;
    height: 98px;
    /* UI Properties */
    background: #878E88 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.picture_Gallery_content {
    /* Layout Properties */
    top: 2474px;
    left: 4px;
    width: 100%;
    /* UI Properties */
    background: #ACBDBA 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}


figure {
    display: inline-block;
}

figcaption {
    text-align: center;
    font: Bold 40px/47px Roboto;
    letter-spacing: 0;
    color: #283044;
    opacity: 1;
}